@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

/* Background photos */

#offer {
  margin: 0;
  padding: 0;
  background-image: url('../public/main_view/dodge.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
  
@media (max-width: 1100px) {
  #offer {
    background-size: cover;
  }
}

#about {
  margin: 0;
  padding: 0;
  background-image: url('../public/main_view/gt.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@media (max-width: 1100px) {
  #about {
    background-size: cover;
  }
}

#gallery {
  margin: 0;
  padding: 0;
  background-image: url('../public/main_view/roush.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@media (max-width: 1100px) {
  #gallery {
    background-size: cover;
  }
}

#rent {
  margin: 0;
  padding: 0;
  background-image: url('../public/main_view/merc.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@media (max-width: 1100px) {
  #rent {
    background-size: cover;
  }
}

#contact {
  margin: 0;
  padding: 0;
  background-image: url('../public/main_view/lam.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@media (max-width: 1100px) {
  #contact {
    background-size: cover;
  }
}

#price {
  margin: 0;
  padding: 0;
  background-image: url('../public/main_view/lam.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@media (max-width: 1100px) {
  #price {
    background-size: cover;
  }
}
  
/* Scroll bar */
  
::-webkit-scrollbar {
    width: 7px;
}
  
::-webkit-scrollbar-track {
    background: rgb(100 116 139);
}
  
::-webkit-scrollbar-thumb {
    background: rgb(17 24 39);
    border-radius: 3px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(147 51 234);
}
